* {
  box-sizing: border-box;
  transition: all 0.2s;
}

body {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

.App {
  max-width: 500px;
  margin: 0 auto;
  padding: 2em 1em;
}
.App .input-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.App .input-container .input-el {
  padding-left: 15px;
  height: 40px;
  border: 1px solid #C0C0C0;
  border-top-left-radius: 25px;
  border-right: none;
  border-bottom-left-radius: 25px;
  box-sizing: border-box;
  width: 85%;
  transition: 0.2s all;
}
.App .input-container .input-el:focus, .App .input-container .input-el:focus + .button {
  background: whitesmoke;
}
.App .input-container .input-el:hover, .App .input-container .input-el:hover + .button {
  background: #e7e7e7;
}
.App .input-container .input-el, .App .input-container .button {
  box-shadow: 0px 5px 0px 0px #C0C0C0;
}
.App .input-container .button {
  height: 40px;
  background: white;
  border: 1px solid #C0C0C0;
  border-left: none;
  width: 15%;
  font-weight: bold;
  cursor: pointer;
  color: #252525;
  transition: all 0.2s;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  display: grid;
  place-content: center;
}
.App .input-container .button ion-icon[name=add-outline] {
  color: #C0C0C0;
  font-size: 1.5rem;
  line-height: 0;
}
.App .tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.App .tasks .tasks-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 1em 0;
}
.App .tasks .tasks-heading .completed {
  padding: 0.5em 0.75em;
  background: #e7e7e7;
  color: #333333;
  border-bottom: 5px solid #C0C0C0;
  border-radius: 10px;
  letter-spacing: 0.2px;
  text-align: right;
}
.App .tasks .tasks-heading .to-do-header {
  color: #333333;
  letter-spacing: 0.2px;
  width: 60%;
}
.App .tasks .task {
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;
  border-radius: 10px;
  margin-bottom: 0.5em;
}
.App .tasks .task .buttons {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-left: 1px solid rgba(192, 192, 192, 0.4);
  padding-left: 1em;
}
.App .tasks .task .task-para {
  width: 80%;
  padding-right: 1em;
  line-height: 1.5;
  letter-spacing: 0.3px;
}
.App .tasks .task:hover {
  filter: brightness(102%);
}
.App .tasks .task p {
  color: #333333;
  font-size: 1rem;
  word-wrap: break-word;
}
.App .tasks .task ion-icon {
  font-size: 2rem;
  cursor: pointer;
}
.App .tasks .task ion-icon[name=trash-sharp] {
  margin-left: 0.4em;
}
.App .tasks .task ion-icon[name=trash-sharp]:hover {
  color: grey;
}

@media (max-width: 462px) {
  .App .input-container .input-el {
    width: 80%;
  }
  .App .input-container .button {
    width: 20%;
  }
  .App .tasks .tasks-heading {
    flex-direction: column;
    align-items: flex-start;
  }
  .App .tasks .tasks-heading .to-do-header,
  .App .tasks .tasks-heading .completed {
    text-align: left;
  }
  .App .tasks .tasks-heading .to-do-header {
    width: 100%;
    margin-bottom: 0.5em;
  }
  .App .tasks .task {
    padding: 0.5em 2em;
    flex-direction: column;
    margin-bottom: 0.5em;
  }
  .App .tasks .task .task-para,
  .App .tasks .task .buttons {
    width: 100%;
    padding: 1em;
  }
  .App .tasks .task .task-para {
    text-align: center;
  }
  .App .tasks .task .buttons {
    gap: 50px;
    justify-content: center;
    border-left: none;
    border-top: 1px solid rgba(192, 192, 192, 0.5);
  }
  .App .tasks .task .buttons ion-icon[name=trash-sharp] {
    margin: 0;
  }
  .App .tasks .task .buttons ion-icon {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=index.css.map */